@import './shared/fonts';
@import './index';

html, body {
    height:100%;
    width:100%;
    font-family: 'Montserrat', 'Helvetica';
  }

.self-typed {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 31px;
  color: white;
}
  
