@import './shared/fonts';
// pages
@import './index';

// components
@import './header';

html, body {
    height:100%;
    width:100%;
    font-family: 'Montserrat', 'Helvetica';
  }

.self-typed {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 31px;
  color: white;
}
  
.absolute {
  position: absolute;
}

.base-page {
  padding-top: 150px;
  color: white;
}

.clickable {
  cursor: pointer;
}